.item-img{
  width: 10vh;
  padding-bottom: 10vh;
  position: relative;
}

.menu-list li{
  color: black;
  background-color: yellow;
  width: 32%;
  height: 20%;
}

.menu-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: turquoise;
  align-content: flex-start;
  height: 80%;
  padding: 1% 0;
}



