.input[type=text], .input[type=email], input[type=password]{
  border: solid 1px rgba(128, 128, 128, 0.3);
  background-color: rgba(196, 196, 196, 0.4);
  width: 100%;
  font-size: 1em;
  padding: 2%;
  margin-top: 0.1em;
  border-radius: 5px;
}

.label{
  margin: 1%;
}