.menu-bar{
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 10vw;
  color: rgb(250, 250, 250);
  padding: 2%;

}

.menu-bar h2{
  width: 100%;
  padding: 5px;
  font-size: 2.5vw;
}

.menu-bar button{
  width: 100%;
}

.main-view{
  height: 100vh;
  width: 100%;
  display: flex;
}

li, a{
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.menu-bar p{
  font-size: 18px;
}

