.new-order-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 235, 205, 0.178);
  width: 100vw;
  height: 100vh;
  
}

.new-order-add{
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2%;
}

.new-order-add h2{
  height: 5%;
}

.img-item-order{
  height:  70%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0 ;
}

.list-items-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  background-color: rgba(248, 248, 248, 0.068);
  padding: 1%;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1px solid rgba(128, 128, 128, 0.15);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 39px -15px rgba(0, 0, 0, 0.294);
}

.list-items{
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 46.25%;
  margin: 1%;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.452);
  border-radius: 5px;
  box-shadow: 10px 10px 35px -37px rgb(0, 0, 0);

}

.list-items-description-container{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* align-content: center; */
  padding: 4%;
  justify-content: flex-end;
}

.list-items-description-container p{
  margin: 0;
  padding: 0;
}

.list-items-price{
  font-size: 16px;
}

/* .list-items-type span{
  background-color: rgba(0, 0, 0, 0.589);
} */

.list-items-name{
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  padding-bottom: 4%;
}

.new-order-meal-options{
  height: 8%;
  padding-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-end;
}


.new-order-meal-options button{
  background-color: rgb(255, 38, 0);
  width: 20%;
  height: 100%;
  border: none;
  border-radius: 0;
  margin-right: 1%;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 39px -15px rgba(0,0,0,0.5);
  
}

.client-name-form{
  height: 15%;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;

}

.client-name-form label{
  padding-right: 2%;
  width: 50%;
  font-size: 18px;
}

.send-client{
  background-color: rgba(255, 126, 126, 0.082);
  height: 75%;
  width: 20px;
  align-self: center;
  margin-left: 5px;
  border-style: none;
  text-align: center;
}

/* AQUI VA TODA LA PARTE DE LA FACTURA */

.bill-container{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: rgba(7, 7, 7, 0.9);
  background-image: url('/background_collage.png');
  height: 100vh;
  padding: 2%;
}

.bill-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 16px;
}

.bill-item > div{
  background-color: rgba(34, 34, 34, 0.534);
}

.bill-item-name p, .bill-item-quantity p, .bill-item-semitotal p{
  margin: 10px 0;
}

.bill-button{
  width: 50%;
}


.bill-item-name{
  width: 60%;
  border: 1px solid black;
  
  display: flex;
  align-items: center;
  padding-left: 1em;
}


.bill-item-quantity{
  width: 15%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bill-item-semitotal{
  width: 15%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bill-item-delete-button{
  width: 10%;
  font-family: 'Finger Paint', cursive;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 0;
}

.bill-item-delete-button:hover{
  background-color: rgba(12, 12, 12, 0.63);
}

.bill-total{
  color: aliceblue;
  padding: 2% 0;
  width: 85%;
  text-align: right;
}

.bill-client{
  color: aliceblue;
}