.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

}

.target{
  background-color:white;
  width: 48%;
  padding: 1% 2%;
  margin: 2% 0;
  border: 1px solid gray;
  color: rgb(17, 17, 17);
  border-radius: 5px;
}

.items{
  background-color: brown;
  display: flex;
  
}

.items div:nth-child(1){
  width: 80%;
}
.items div:nth-child(2){
  width: 20%;
}

.button{
  width: 50%;
}