@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Open+Sans&display=swap');


*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(17, 17, 17);
  background-color: rgb(251, 251, 251);
}


h1, h2, h3 {
  font-family: 'Finger Paint', cursive;
  margin: 0;
  line-height: 95%;
}

h4, p {
  font-family: 'Open Sans', sans-serif;
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

